.btn-primary {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;  /* Text color */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.red-btn {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #FF4136;  /* Red color */
    -fx-text-fill: white;  /* Text color */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.blue-btn {
    -fx-background-color: #0074D9;  /* Blue color */
}


.button {
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
}

.black-btn{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #282828;
    -fx-text-fill: white;  /* Text color */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.black-btn:hover {
    -fx-background-color: #181818;
}

.black-btn:pressed {
    -fx-background-color: #000000;
}

.red-btn{
    -fx-background-color: #c92828;
}
.red-btn:hover {
    -fx-background-color: #9d3434;
}

.red-btn:pressed {
    -fx-background-color: #ab4d4d;
}

.black-btn-sm{
    -fx-font-size: 10px;
    -fx-background-color: #6b6b6b;
    -fx-text-fill: white;  /* Text color */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.black-btn-sm:hover {
    -fx-background-color: #4d4d4d;
}

.black-btn-sm:pressed {
    -fx-background-color: #2f2f2f;
}